.container {
  max-width: 1140px;
  margin: 0 auto;
}
header {
  background: rgb(236,236,236);
  background: linear-gradient(180deg, rgba(236,236,236,1) 40%, rgba(255,255,255,1) 100%);
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  padding: 15px 0;
}

.nav {
  margin: 35px auto;
  border-radius: 2px;
  border: solid 1px #d6d6d6;
}

@media (min-width: 992px) {
  .news__container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 40px;
    row-gap: 30px;
  }
}

