header {
  background: rgb(236,236,236);
  background: linear-gradient(180deg, rgba(236,236,236,1) 40%, rgba(255,255,255,1) 100%);
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  padding: 15px 0;
}

.nav {
  margin: 35px auto;
  max-width: 196px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: solid 1px #d6d6d6;
  border-radius: 2px;
}
.nav a {
  padding: 6px 0;
  display: block;
  flex: 0 0 50%;
  text-align: center;
  text-decoration: none;
  color: var(--second-grey);
  transition: all .2s;
}
.nav a.active,
.nav a:hover {
  color: var(--accent-color);
  border: 1px solid var(--accent-color)
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.paginator {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  margin: 96px auto 40px;
  padding: 0;
}
.paginator li {
  margin-bottom: 10px;
}
.paginator li a {
  display: block;
  color: rgba(0, 0, 0, 0.65);
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 6px;
  border: solid 1px #d9d9d9;
  background-color: #fff;
  margin-right: 8px;
  cursor: pointer;
}
.paginator li.active-page a,
.paginator li a:hover {
  background-color: var(--accent-color);
  color: var(--primary-light);
}
.paginator li.disabled a {
  opacity: .4;
}
.paginator .prev-page a,
.paginator .next-page a {
  font-size: 32px;
  line-height: 0;
}
.paginator .prev-page a {
  transform: rotate(270deg);
}
.paginator .next-page a {
  transform: rotate(90deg);
}

@media (min-width: 992px) {
  .container {
    padding: 0;
  }

  .news__container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 40px;
    row-gap: 30px;
    padding: 0;
  }
}

