@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--second-light);
}

:root {
  --primary-light: #FFF;
  --second-light: #fcfcfc;
  --third-light: #ececec;
  --shadow-light: #dad8d8;
  --primary-grey: #6b6b6b;
  --second-grey: #606060;
  --third-grey: #979797;
  --four-grey: #343434;
}

h1 {
  font-family: 'Baskerville', serif;
}